.home {
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.164);
}

.home h1, .home h3, .home h5, .home p {

    color: #fff;
}

.button {
    text-align: center;
    margin-top: 20px;
}

.button button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button button:hover {
    background-color: #217dbb;
}

.condense {
    display: flex;
    max-width: 70%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.content {
    max-block-size: 70%;
}

.condense img {
    max-width: 48%;
    border-radius: 8px;
}

@media (max-width: 767px) {
    .condense img {
        width: 100%;
        margin-bottom: 20px;
    }
}