
.home {
    text-align: center;
    color: orange;
    background-image: url('/public/images/bluesky.jpg') ; /* Adjust the path based on your project structure */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(52, 152, 219, 0.9);
}

.home h1 .button {
    text-align: center;
    color: orange;
    max-width: 20%;
    align-content: top;
}


.home .content {
    display: flex;
    text-align: left;
    align-items: center;
    max-width: 900px;
    margin: 10px auto;
}

@media (max-width: 767px) {
    .home .content img {
        /*display: none;*/
    }

    .home .content {
        padding: 20px;
        display: block;
        text-align: center;
    }

    .home .content p {
        text-align: left;
    }
} 
