.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {

  --primary-color: #FFC966;
  --primary-color-100: #FFEDCC;
  --primary-color-500: #FFA600; 

  --secondary-color: #3333FF;
  --secondary-color-600: #0000CC;
  --secondary-color-800: #000066; 

  --neutral-color: #e0e0e0;

  --background-color: #1B1B1B;

  --surface-color: #252525;

  --lobster-font: 'Lobster', sans-serif;
  --sans-font: 'DM Sans', sans-serif;

}

.page {
  min-height: calc(100vh - 80px);
  text-align: center;
  color: orange;
  background-image: url('/public/images/bluesky.jpg') ; /* Adjust the path based on your project structure */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(52, 152, 219, 0.9);

}